@model ProjetoIF.Models.AtribuicaoUserTask

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AtribuicaoUserTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-tarefaId="@ViewBag.TarefaId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="idtarefa" asp-for="TarefaId" />
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.NomeUsuarioId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

