@model ProjetoIF.Models.AtribuicaoUserTask

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>AtribuicaoUserTask</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeUsuarioAtribuido" class="control-label"></label>
                <input asp-for="NomeUsuarioAtribuido" class="form-control" />
                <span asp-validation-for="NomeUsuarioAtribuido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TarefaId" class="control-label"></label>
                <select asp-for="TarefaId" class="form-control" asp-items="ViewBag.TarefaId"></select>
                <span asp-validation-for="TarefaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

