@model ProjetoIF.Models.Tarefa

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tarefa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeTarefa" class="control-label"></label>
                <input asp-for="NomeTarefa" class="form-control" />
                <span asp-validation-for="NomeTarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoTarefa" class="control-label"></label>
                <input asp-for="DescricaoTarefa" class="form-control" />
                <span asp-validation-for="DescricaoTarefa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjetoId" class="control-label"></label>
                <select asp-for="ProjetoId" class="form-control" asp-items="ViewBag.ProjetoId"></select>
                <span asp-validation-for="ProjetoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        
        <button class="nav-link active" id="nav-usuario-tab" data-bs-toggle="tab" data-bs-target="#nav-usuario" type="button" role="tab" aria-controls="nav-usuario" aria-selected="true">Usuários</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">


    <div class="tab-pane fade show active" id="nav-usuario" role="tabpanel" aria-labelledby="nav-usuario-tab">
        <div class="my-3">
            <button class="bttn-unite bttn-sm bttn-primary mt-4" onclick="location.href='@(Url.Action("Create", "AtribuicaoUserTasks", new { tarefaId = Model.Id }))'">
                <i class="fas fa-file-import"></i>
                Atribuir usuário a tarefa
            </button>
        </div>

        @if (Model.AtribuicaoUserTask != null && Model.AtribuicaoUserTask.Count > 0)
        {
            await Html.RenderPartialAsync("~/Views/AtribuicaoUserTasks/Index.cshtml", Model.AtribuicaoUserTask);
        }
        else
        {
            <p>Nenhum usuário atribuído!</p>
        }
    </div>

</div>

