@model IEnumerable<ProjetoIF.Models.Projeto>

@{
    ViewData["Title"] = "Index";
}

<style>
    /*table.dataTable.no-footer {
                            border: 1px solid #dee2e6 !important;
                        }*/

    .styled-table tbody {
        //background-color: var(--primary);
    }

    .my-trs tr {
        cursor: pointer;
        transition: all 0.15s;
    }

        .my-trs tr td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .my-trs tr:hover {
            color: var(--primary);
            transform: translateX(13px);
        }
</style>

<h4>Projetos</h4>

<p>
    <a asp-action="Create">Adicionar novo projeto</a>
</p>
<table class="table styled-table" style="font-size: small;">
    <thead class="styled-table-thead">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTarefa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="my-trs">
@foreach (var item in Model) {
            <tr onclick="location.href='@(Url.Action("Edit", "Projetos", new { id = item.Id }))'">
            <td>
                @Html.DisplayFor(modelItem => item.NomeTarefa)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
